[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
alembic = "*"
psycopg = "*"
flask = "*"
requests = "*"
python-dotenv = "*"
flask-cors = "*"
flask-wtf = "*"
rapidfuzz = "*"
sqlalchemy = "*"
openai = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
