fastapi  
uvicorn 
supabase 
pydantic 
python3-dotenv 
SQLAlchemy 
alembic 
psycopg2-binary 
pytest 
httpx 
pytest-asyncio 
passlib[bcrypt] 
python-jose 
cryptography 
jinja2 
requests 
loguru 
aiofiles 
email-validator 

